<mat-nav-list>
    <a mat-list-item routerLink="/">
        <mat-icon>home</mat-icon>
        <span class="nav-link">Home</span>
    </a>

    <a mat-list-item routerLink="/admin">
        <mat-icon>insert_chart_outlined</mat-icon>
        <span class="nav-link">Expense Dashboard</span>
    </a>

    <a *ngIf="isUser === 'Admin' || isUser === 'Finanzas'" mat-list-item routerLink="/">
        <mat-icon>insert_chart_outlined</mat-icon>
        <span class="nav-link">Revenue Dashboard</span>
    </a>

    <a *ngIf="isUser === 'Administrador de Sistema'" mat-list-item routerLink="/admin/users">
        <mat-icon>people_outlined</mat-icon>
        <span class="nav-link">Usuarios</span>
    </a>

    <a mat-list-item (click)="onExit()">
        <mat-icon>exit_to_app</mat-icon>
        <span class="nav-link">Salir</span>
    </a>
</mat-nav-list>