<link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" 
rel="stylesheet">

<mat-nav-list>
    <a mat-list-item routerLink="/home">
        <i class="material-icons-outlined">home</i>
        <span class="nav-link">Inicio</span>
    </a>

    <a *ngIf="isUser != null" mat-list-item routerLink="/admin">
        <i class="material-icons-outlined">insert_chart</i>
        <span class="nav-link">Análisis de Datos</span>
    </a>

    <a *ngIf="isUser === 'Administrador de Sistema'" mat-list-item routerLink="/admin/users">
        <i class="material-icons-outlined">people</i>
        <span class="nav-link">Usuarios</span>
    </a>

    <a *ngIf="isUser === 'Administrador de Sistema'" mat-list-item routerLink="/admin/reportes">
        <i class="material-icons-outlined">add_chart</i>
        <span class="nav-link">Reportes</span>
    </a>

    <a *ngIf="isUser === 'Administrador de Sistema'" mat-list-item routerLink="/admin/reportes-rol">
        <i class="material-icons-outlined">domain_verification</i>
        <span class="nav-link">Asignaciones</span>
    </a>

    <a *ngIf="isUser === 'Administrador de Sistema'" mat-list-item routerLink="/admin/roles">
        <i class="material-icons-outlined">account_tree</i>
        <span class="nav-link">Roles</span>
    </a>

    <a mat-list-item (click)="onExit()">
        <i class="material-icons-outlined">exit_to_app</i>
        <span class="nav-link">Salir</span>
    </a>
</mat-nav-list>