<mat-toolbar color="primary">
    <ng-container *ngIf="isUser != null">
        <!-- {{isUser}} -->
        <button mat-icon-button (click)="onToggleSidenav()"> 
            <mat-icon>menu</mat-icon>
        </button>
    </ng-container>
    <span>BI Solutions</span>

    <span class="spacer"></span>
    <a *ngIf="isUser != null; else viewLogin" mat-button (click)="onLogout()">Cerrar Sesión</a>
    <!--<a *ngIf="isUser != null; else viewLogout" mat-button routerLink="/login">Login</a>-->
</mat-toolbar>

<ng-template #viewLogin>
    <a mat-button routerLink="/login">Ingresar Sesión</a>
</ng-template>

<!--<ng-template #viewLogout>
    <a mat-button (click)="onLogout()">Logout</a>
</ng-template>-->
