<div class="table-button-row">
    <button 
      (click)="onCreateModal()"
      mat-flat-button color="primary" class="btn-new">
      Nueva Asignación
    </button>
  </div>
  
  <mat-divider></mat-divider>
  
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.reporte_rol_id}} </td>
      </ng-container>
    
      <ng-container matColumnDef="rol_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Rol </th>
        <td mat-cell *matCellDef="let element"> {{element.rol_id}} </td>
      </ng-container>

      <ng-container matColumnDef="rol_descripcion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Rol Descripción</th>
        <td mat-cell *matCellDef="let element"> {{element.rol.rol_descripcion}} </td>
      </ng-container>

      <ng-container matColumnDef="reporte_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Reporte </th>
        <td mat-cell *matCellDef="let element"> {{element.reporte_id}} </td>
      </ng-container>

      <ng-container matColumnDef="reporte_descripcion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Reporte Descripción</th>
        <td mat-cell *matCellDef="let element"> {{element.reporte.reporte_descripcion}} </td>
      </ng-container>
    
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Opciones </th>
        <td mat-cell *matCellDef="let element">
          <div class="table-button-row">
            <button mat-flat-button color="accent" (click)="onEditModal(element)">
              Editar
            </button>
            <button mat-flat-button color="warn" (click)="onDelete(element.reporte_rol_id)">
              Eliminar
            </button>
          </div>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
