<div>
    <section *ngIf="isUser === 'Administrador de Sistema' || isUser === 'Finanzas'">
        <p>Reporte Gastos General</p>
        <iframe 
        width= 100% 
        height="900" 
        src="https://app.powerbi.com/reportEmbed?reportId=28e60dbb-f6b7-44f7-9345-627f452f4291&autoAuth=true&ctid=df178cd5-c418-42f2-becc-9a19dd282438&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXNvdXRoLWNlbnRyYWwtdXMtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" 
        frameborder="0" 
        allowFullScreen="true">
        </iframe>
    </section>
    <section *ngIf="isUser === 'IT'">
        <p>Aquí irá Reporte Gastos IT</p>
    </section>
</div>

