<div>
    <section *ngIf="isUser === 'Admin' || isUser === 'Finanzas'">
        <p>Reporte Gastos General</p>
        <iframe 
        width= 100% 
        height="900" 
        src="https://app.powerbi.com/reportEmbed?reportId=e7c9867a-c999-4f65-b83f-0732e1a450e5&autoAuth=true&ctid=af2fd196-1d9f-47b4-9069-391a46f83601&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXNvdXRoLWNlbnRyYWwtdXMtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D" 
        frameborder="0" 
        allowFullScreen="true">
        </iframe>
    </section>
    <section *ngIf="isUser === 'IT'">
        <p>Reporte Gastos IT</p>
    </section>
</div>

