<div>
    <section *ngIf="isUser === 'Admin' || isUser === 'Finanzas'">
        <p>Reporte Gastos General</p>
        <iframe 
        width= 100% 
        height="900" 
        src="https://app.powerbi.com/reportEmbed?reportId=aa6b0781-c922-47dc-afc2-566d06f2780f&autoAuth=true&ctid=27c105b0-8115-48f4-bd7a-baf871b33fb8&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXBhYXMtMS1zY3VzLXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" 
        frameborder="0" 
        allowFullScreen="true">
        </iframe>
    </section>
    <section *ngIf="isUser === 'IT'">
        <p>Reporte Gastos IT</p>
    </section>
</div>

