.select-box {
    margin: 14px;
    width: 95%;
    height: 85%;
}
.btn-select {
    width: 35%;
    margin-right: 50px;
    margin-bottom: 14px;
}
.btn-cargar {
    width: 10%;
    margin-bottom: 14px;
}

.div-size {
    width: 100%;
    height: 90%;
}