<h2 mat-dialog-title>{{data?.title}}</h2>

<mat-dialog-content>
<div class="modal-form">
    <form [formGroup]="reporteRolForm.baseFormEditarReporteRol">
        <mat-form-field class="invisible">
            <input
            formControlName="reporte_rol_id"
            matInput placeholder="Id" required/>
            <mat-error *ngIf="checkField('reporte_rol_id')">
                {{ reporteRolForm.errorMessage }}
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
            <mat-label>Rol</mat-label>
            <mat-select name="rol">
                <mat-option *ngFor="let rol of tablaRol" [value]="rol.value">
                  {{rol.viewValue}}
                </mat-option>
              </mat-select>
        </mat-form-field>
        <mat-form-field class="full-width-input">
            <mat-label>Rol</mat-label>
            <mat-select name="reporte">
                <mat-option *ngFor="let reporte of tablaReporte" [value]="reporte.value">
                  {{reporte.viewValue}}
                </mat-option>
              </mat-select>
        </mat-form-field>
    </form>
</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button 
        mat-button 
        [mat-dialog-close]="true"
        color="primary"
        (click)="onSaveEditado()"
        ckdFocusInitial
        [disabled]="!reporteRolForm.baseFormEditarReporteRol.valid"
    >
        Guardar
    </button>

</mat-dialog-actions>
