<h2 mat-dialog-title>{{data?.title}}</h2>

<mat-dialog-content>
<div class="modal-form">
    <form [formGroup]="userForm.baseFormCrearUsuario">
        <mat-form-field class="full-width-input">
            <input 
            formControlName="usuario_nombre"
            matInput placeholder="Nombre" required/>
            <mat-error *ngIf="checkField('usuario_nombre')">
                {{ userForm.errorMessage }}
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
            <input 
            formControlName="usuario_correo"
            matInput placeholder="Correo" required/>
            <mat-error *ngIf="checkField('usuario_correo')">
                {{ userForm.errorMessage }}
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
            <input 
            [type]="hide ? 'password' : 'text'"
            formControlName="usuario_contrasena"
            matInput placeholder="Contraseña" required/>
            <button mat-icon-button matSuffix (click)="hide = !hide">
                <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-error *ngIf="checkField('usuario_contrasena')">
                {{ userForm.errorMessage }}
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
            <mat-label>Rol</mat-label>
            <mat-select formControlName="usuario_rol_id" required>
                <ng-container *ngFor="let rol of allRoles">
                    <mat-option [value]="rol.rol_id">{{rol.rol_descripcion}}</mat-option>
                </ng-container>
              </mat-select>
              <mat-error *ngIf="checkField('usuario_rol_id')">
                {{ userForm.errorMessage }}
            </mat-error>
        </mat-form-field>
    </form>
</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button 
        mat-button
        [mat-dialog-close]="true"
        color="primary"
        (click)="onSaveNuevo()"
        ckdFocusInitial
        [disabled]="!userForm.baseFormCrearUsuario.valid"
    >
        Guardar
    </button>

</mat-dialog-actions>
