<div class="login-form">
    <mat-card>
        <mat-card-content> 
            <h1>Ingresar Sesión</h1>
            <form [formGroup]="loginForm.baseFormLogin" (ngSubmit)="onLogin()">
            <mat-form-field class="full-width-input">
                <input 
                text="text" 
                formControlName="login_correo"
                matInput 
                placeholder="Correo"
                required
                />
                <mat-error *ngIf="checkField('login_correo')">
                    {{ loginForm.errorMessage }}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input separator">
                <input 
                [type]="hide ? 'password' : 'text'"
                formControlName="login_contrasena"
                matInput
                placeholder="Contraseña"
                required
                />
                <button mat-icon-button matSuffix (click)="hide = !hide">
                    <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
                </button>
                <mat-error *ngIf="checkField('login_contrasena')">
                    {{ loginForm.errorMessage }}
                </mat-error>
            </mat-form-field>
            <button 
            [disabled]="loginForm.baseFormLogin.invalid"
            type="submit" 
            mat-raised-button 
            color="primary"
            >
            Ingresar
            </button>
            </form>
        </mat-card-content>
    </mat-card>
</div>