<h2 mat-dialog-title>{{data?.title}}</h2>

<mat-dialog-content>
<div class="modal-form">
    <form [formGroup]="rolForm.baseFormEditarRol">
        <mat-form-field class="invisible">
            <input
            formControlName="rol_id"
            matInput placeholder="Id" required/>
            <mat-error *ngIf="checkField('rol_id')">
                {{ rolForm.errorMessage }}
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input" >
            <input 
            formControlName="rol_descripcion"
            matInput placeholder="Descripcion" required/>
            <mat-error *ngIf="checkField('rol_descripcion')">
                {{ rolForm.errorMessage }}
            </mat-error>
        </mat-form-field>
    </form>
</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button 
        mat-button 
        [mat-dialog-close]="true"
        color="primary"
        (click)="onSaveEditado()"
        ckdFocusInitial
        [disabled]="!rolForm.baseFormEditarRol.valid"
    >
        Guardar
    </button>

</mat-dialog-actions>
